Options +FollowSymLinks
RewriteBase /codefactory/php/cr10_christian_hofer_biglibary/
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]
